@use "../../styles/variables" as *;

.resource {
    display: flex;
    height: 7.5rem;
    justify-content: space-around;
    border-bottom: 0.0625rem solid grey;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &__elements {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 1.5rem;
        gap: 1.5625rem;
    }

    &__text{
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 0rem;
    }

    &__btn {
        width: 40%;
        border: 0.1875rem solid $lapis;
        background-color: $pacific;

        &:hover{
            background-color: $lapis;
            color: white;
        }
    
        &:focus{
            background-color: $lapis;
            color: white;
        }
    }

    &__status {
        width: 20%;
    }

}