@use "../../styles/variables" as *;

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6.25rem;
    background-color: $input-grey;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    &__image {
        width: 80%;
        height: 80%;
    }

    &__container {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border: 0;
        box-sizing: border-box;
        border-radius: 12px;
        color: #ffffff;
        background-color: #151515;
        outline: none;

        &:active {
            background-color: green;
        }

        &:hover {
            background-color: lightblue;
        }
    }

    &__user {
        width: 20px;
        height: 20px;
    }

}