@use "../../styles/variables" as *;

.homepage__text {
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 15rem;
    margin-left: 1.5rem;
}

// .homepage__resource {
//     // border: 4px solid blue;
// }